/* Back Top Button */
#back-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  animation: backTop 1s ease-in-out infinite;
}

#back-top a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
}

#back-top a:hover {
  background-color: #3c5494;
}

@keyframes backTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Back Top Button End */
