.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 18px;
  color: #fff;
  background-color: #222;
  border-radius: 50%;
  padding: 10px 12px;
  transition: background-color 0.3s ease-out;
}

.back-to-top:hover {
  background-color: #555;
}

.back-to-top i {
  font-style: normal;
  font-size: 24px;
  line-height: 1;
}
