/*-----------------------------------------------*/
/* Fonts
/*-----------------------------------------------*/

/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SimSun'), local('Microsoft YaHei'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v22/0QIvMX1D_JOuAw0.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('SimSun'), local('Microsoft YaHei'), local('Lora-Bold'), url(https://fonts.gstatic.com/s/lora/v22/0QIvMX1D_JOuAw0.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Microsoft YaHei Light'), local('Microsoft YaHei'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v26/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Microsoft YaHei'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v26/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Microsoft YaHei'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v26/mem6YaGs126MiZpBA-UFUK0Zdcg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Microsoft YaHei'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v26/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Microsoft YaHei'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v26/memnYaGs126MiZpBA-UFUKWyV9hmIqOjjg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Microsoft YaHei Bold'), local('Microsoft YaHei'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v26/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2
